<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BB Movies</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="header">Movies</div>
    <div class="container" id="layoutView">
      <div class="row">
        <section>

        <form id="createMovie">
          <div class="form-group">
            <!-- <label for="newTitle">Movie Title</label>
            <input type="text" class="form-control" id="newTitle" name="newTitle" placeholder="Enter the Movie Title"> -->
          </div>
          <div class="form-group">
            <!-- <label for="newDirector">Director</label>
            <input type="text" class="form-control" id="newDirector" name="newDirector" placeholder="Director"> -->
          </div>
          <div class="form-group">
            <!-- <label for="newSynopsis">Movie Synopsis</label>
            <textarea class="form-control" rows="5" name="newSynopsis" id="newSynopsis" placeholder="Enter Movie Synopsis"></textarea> -->
          </div>
          <div class="form-group">
            <!-- <label for="newPoster">Upload Movie Image</label>
            <input type="url" id="newPoster" name="newPoster" placeholder="Input Image URL"> -->
          </div>
          <!-- <button type="submit" class="btn btn-default" id="submitListing">Submit</button> -->
        </form>

        </section>
        <div class="content">
          <!-- <h2><%= title %></h2>
          <hr />
          <h3><%= director %></h3>
          <p><%= synopsis %></p>
          <img src='<%= poster %>' > -->
        </div>
        <form id="updatePost" action="">
          <div class="form-group">
            <!-- <p><label for="editTitle">Movie Title</label></p>
              <p><input type="text" name="editTitle" value="<%= title %>" placeholder="Title"></p> -->
          </div>
          <div class="form-group">
            <!-- <p><label for="editDirector">Director</label></p>
              <p><input type="text" name="editDirector" value="<%= director %>" placeholder="Director"></p> -->
          </div>
          <div class="form-group">
            <!-- <p><label for="editSynopsis">Movie Synopsis</label></p>
              <p><textarea class="form-control" rows="5" name="editSynopsis" placeholder="Content"><%= synopsis %></textarea></p> -->
          </div>
          <div class="form-group">
            <!-- <p><label for="editPoster">Upload Movie Image</label></p>
              <p><input type="text" name="editPoster" value="<%= poster %>" placeholder="Image Url"></p> -->
          </div>
        </form>
        <div class="btnGroup">
        <!-- <button class="btn btn-danger" id='deletePost'>Delete</button>
        <button class="btn btn-primary" id='editPost'>Edit Post</button>
        <button class="btn btn-default" id='submitEdit'>Submit</button> -->
        </div>



      </div> <!-- end row -->
    </div> <!-- end container -->

  <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
